.img img {
  width: 80px;
  height: 80px;
}

.userBlock{
  display: grid;
  grid-template-columns: 2fr 10fr;
  padding:10px;
  margin:10px 5px;
}
.imgFollow{
  text-align: center;
  margin:0px 10px 0px 0px;
}
.userInfo{
  border:2px solid grey;
  color:white;
  padding:10px;
  display: flex;
  justify-content: space-between;
}
.userInfo span div{
  margin:10px 0px;
}