.app-wrapper{
  display:grid;
  min-height:100vh;
  grid-template-columns: 25% 75%;
  grid-template-rows: 100px 9fr;
  margin:5px;
}

.app-wrapper-content{
  margin:5px;
  background:#8170D8;
  display: grid;
}


